/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage
/storage/framework
/storage/framework/views/
/public/project_files
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
